<section class="footer">
    <h1 class="heading">
        <span>A</span>
        <span>b</span>
        <span>o</span>
        <span>u</span>
        <span>t</span>
        <span class="space"></span>
        <span>U</span>
        <span>s</span>
        
    </h1>

    <div class="box-container">

        <div class="box">
            <h3> </h3>
            <p>Best Domestic Tour Operator by Today's Traveller Awards "India's Most Valuable Travel Destination Company" </p>
        </div>
       
        
        <div class="box">
            <h3>Follow Us</h3>
            <a href="#">facebook</a>
            <a href="#">instagram</a>
            <a href="#">twitter</a>
            <a href="#">linkedin</a>
        </div>

    </div>

    <h1 class="credit"> created by <span style="color: rgb(247, 91, 122);">Mr. Krishna Kurra </span> | all rights reserved! </h1>
</section>