<p>navbar works!</p>
<header>

    <div id="menu-bar" class="fas fa-bars"></div>
    <marquee behavior="scroll" direction="right" style="width:250px;  " scrollamount="12">
    <a href="#" class="logo" style="text-transform: lowercase;"><span>T</span>ourradar <sup style="font-size: 10px;">tm</sup></a>
    </marquee>
    <nav class="navbar">
        <a href="#home">Home</a>
        <a href="#book">Book</a>
        <a href="#packages">Packages</a>
        <a href="#services">Services</a>
        <a href="#gallery">Gallery</a>
        <a href="#contact">Contact</a>
    </nav>

    <div class="icons">
        <a href="#login"><fa-icon [icon]="user"></fa-icon></a>
        <a href="#register"><fa-icon [icon]="icon"> </fa-icon></a>  
    </div>

    <form action="" class="search-bar-container">
        <input type="search" id="search-bar" placeholder="search here...">
        <label for="search-bar" class="fas fa-search"></label>
        <i class="fa-solid fa-magnifying-glass"></i>
        <i class="fa-solid fa-coffee-pot"></i>
        
    </form>

</header>
