
<section class="contact" id="contact">

    <h1 class="heading">
        <span>c</span>
        <span>o</span>
        <span>n</span>
        <span>t</span>
        <span>a</span>
        <span>c</span>
        <span>t</span>
    </h1>

    <div class="row">
        <form   action="#contact">
            <div class="inputBox">
                <input id="row1" type="text" placeholder="name" required>
                <input id="row2" type="email" placeholder="email" required>
            </div>
            <div class="inputBox">
                <input id="row3" type="number" placeholder="number" required>
                <input id="row4" type="text" placeholder="subject(optional)">
            </div>
            <textarea id="row5" placeholder="message" name="" id="" cols="30" rows="10" required></textarea>
            <input type="submit" id="btn1" class="btn" value="send message" onclick="con()">
        </form>
    </div>
</section>