
<section class="gallery" id="gallery">

    <h1 class="heading">
        <span>g</span>
        <span>a</span>
        <span>l</span>
        <span>l</span>
        <span>e</span>
        <span>r</span>
        <span>y</span>
    </h1>

    <div class="box-container">

        <div style="transition: transform .2s;" class="box">
            <img  src="\assets\g-1.jpg" alt="">
            <div class="content">
                <h3>amazing places</h3>
                
            </div>
        </div>
        <div class="box">
            <img src="\assets\g-2.jpg" alt="">
            <div class="content">
                <h3>amazing places</h3>
                
            </div>
        </div>
        <div class="box">
            <img src="\assets\g-3.jpg" alt="">
            <div class="content">
                <h3>amazing places</h3>
                
            </div>
        </div>
        <div class="box">
            <img src="\assets\g-4.jpg" alt="">
            <div class="content">
                <h3>amazing places</h3>
                
            </div>
        </div>
        <div class="box">
            <img src="\assets\g-5.jpg" alt="">
            <div class="content">
                <h3>amazing places</h3>
                
            </div>
        </div>
        <div class="box">
            <img src="\assets\g-6.jpg" alt="">
            <div class="content">
                <h3>amazing places</h3>
                
            </div>
        </div>
        <div class="box">
            <img src="\assets\g-7.jpg" alt="">
            <div class="content">
                <h3>amazing places</h3>
                
            </div>
        </div>
        
        <div class="box">
            <img src="\assets\g-8.jpg" alt="">
            <div class="content">
                <h3>amazing places</h3>
            </div>
        </div>
    </div>

</section>