
<section class="services" id="services">

    <h1 class="heading">
        <span>s</span>
        <span>e</span>
        <span>r</span>
        <span>v</span>
        <span>i</span>
        <span>c</span>
        <span>e</span>
        <span>s</span>
    </h1>

    <div class="box-container">

        <div class="box">
            
            <h3>Adventure tours</h3>
            <p>Adventure tourism is about connecting with a new culture or a new landscape and 
                being physically active at the same time.</p>
        </div>
        <div class="box">
           
            <h3>food and drinks</h3>
            <p>Delicious Indian Meals, Breakfast, Lunch, Dinner -all Meals Included.
                Lots of Extra Toppings like Ice cream, soft drinks... etc.</p>
        </div>
        <div class="box">
            
            <h3>Hotel booking</h3>
            <p>Best Quality Hotels which are appreciated by traveled guests.
                Comfortable AC Luxury Coaches, Maximum sightseeing included.</p>
        </div>
        <div class="box">
            
            <h3>around the world</h3>
            <p>Lots of Entertainment on tour, hassle-free travel.</p>
        </div>
        <div class="box">
            
            <h3>Safe and fastest travel</h3>
            <p>Professional & Caring Tour Leader throughout the tour.
                Thousands of Satisfied Tourists year after year, every year.</p>
        </div>
        <div class="box">
            <h3>in Budget</h3>
            <p>
                Tours suitable for Every Budget, starting from 5 thousand to 10 lakh.</p>
        </div>

    </div>

</section>